<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229334744957-lg5002on8imabr76cahk1v2oildm1fl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229334744957-lg5002on8imabr76cahk1v2oildm1fl5</string>
	<key>API_KEY</key>
	<string>AIzaSyAPqJIUzRkP38zJ-32tRCbyHZEpVOdkfag</string>
	<key>GCM_SENDER_ID</key>
	<string>229334744957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.namerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-b7fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-b7fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229334744957:ios:7c06e0fca148ef18f55614</string>
</dict>
</plist>